/* Variable Colors */

:root {
  --main-color: #14af00;
  --main-text-color: #ccffbc;
  --border-color: #999;
  --bio-bg-color: #280038;
  --bio-border-color: #78007c;
  --about-bg-color: #111821;
}

/* General */

* {
  padding: 0;
  margin: 0;
  font-family: /* Roboto */ sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.5em;
}

a {
  color: inherit;
}

img {
  max-width: 90%;
}

.highlight {
  color: var(--main-color);
}

/* Main Container */

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

/* Bio Container (Sidebar) */

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 3rem 1.2rem;
  border-right: 0.5rem solid var(--bio-border-color);
}

#bio-container-title {
  margin-bottom: 2.5rem;
}

#bio-container #welcome-text {
  font-weight: bold;
}

#bio-container p {
  margin-bottom: 2rem;
}

#bio-container-icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

/* Social Container */

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 0.1rem solid var(--border-color);
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}

#social-container li {
  flex: 1 1 0;
  max-width: 6rem;
}

#social-container li a {
  color: var(--main-color);
  font-size: 3rem;
  text-decoration: none;
}

/* Contact */

.contact {
  margin: 1.5rem auto;
}

.contact,
.contact a {
  display: flex;
  justify-content: center;
}

.contact a,
.contact i {
  flex: 1 1 0;
}

.contact a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 22.5rem;
}

.contact span {
  color: var(--main-color);
  font-size: 2rem;
  margin-right: 1rem;
  max-width: 2rem;
}

/* About Container */

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 5rem;
}

#about-container #name {
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
  line-height: 1em;
}

#about-container #title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

#about-container .description {
  max-width: 75%;
  margin-bottom: 1rem;
}

#about-container .list {
  margin-left: 1rem;

  li {
    margin: 1rem 0;
  }
}

#about-container #btn-projects {
  font-weight: bold;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 0.5s;
  margin: 2.5rem 0;
  padding: 1.2rem 1rem;
  max-width: 18rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#about-container #btn-projects span,
#about-container #btn-projects i {
  flex: 1 1 0;
}

#about-container #btn-projects i {
  font-size: 3rem;
  max-width: 3rem;
}

#about-container #btn-projects:hover {
  background-color: transparent;
}

/* Skills */

.section-title {
  border-top: 0.1rem solid var(--border-color);
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  line-height: 1em;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.skills-container p {
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

#skills-box {
  /* Defined for 3 blocks in a row */
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 3.5rem;
}

.skills-title {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--main-color);
  text-transform: capitalize;
}

.skills-box i,
.skills-box svg {
  font-size: 4.5rem;
  margin-right: 1rem;
}

.skills-container.last {
  margin-bottom: 2.5rem;
}

/* Projects */

.project {
  margin: 2rem auto;
}

.project a,
.project a:visited {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.4rem;
}

.project a img {
  margin-top: 1rem;
  max-width: 60%;
}

/* Responsiveness */

@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 0.5rem solid var(--bio-border-color);
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 1rem auto;
  }

  #about-container {
    text-align: center;
    padding: 3rem;
  }

  #about-container .description {
    margin: 1rem auto;
    max-width: 100%;
    line-height: 2.6rem;
  }

  #about-container #btn-projects {
    margin: 2rem auto;
  }

  #about-container .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 4rem;
    text-align: left;
  }

  #about-container .skills-box {
    font-size: 3.6rem;
  }

  .project a img {
    max-width: 95%;
  }

  .skills-box p span {
    display: none;
  }
}
